.header-container {
  top: 0;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;

  h2 {
    margin: 0;
    margin-left: 1rem;
  }

  a {
    color: black;
    margin-right: 1rem;
  }
}
