.forecast-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;

  .header {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .forecast-list {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
