.App {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
  /* background: linear-gradient(to bottom, #020111 60%, #20202c 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 1000px;
  width: 80%;
  margin: auto;
}
